- name: System UFW re-setup
  block:
    - name: Reset UFW
      community.general.ufw:
        state: reset
    - name: Allow SSH
      community.general.ufw:
        rule: allow
        port: '22'
        proto: tcp
    - name: Allow HTTPS
      community.general.ufw:
        rule: allow
        port: '443'
        proto: tcp
    - name: Set default policies
      community.general.ufw:
        direction: "{{ item.direction }}"
        policy: "{{ item.policy }}"
      loop:
        - { direction: 'incoming', policy: 'deny' }
        - { direction: 'outgoing', policy: 'allow' }
    - name: Enable UFW
      community.general.ufw:
        state: enabled
  tags: ufw

- name: get instance info
  vultr.cloud.instance_info:
    region: "fra"
    label: "metrodelay"
    api_key: "{{ vultr.api_key }}"
  register: instance_app

- name: Allow Loki traffic in UFW
  community.general.ufw:
    rule: allow
    port: '3100'
    proto: tcp
    direction: in
    src: "10.10.0.0/24"

- name: Allow Prometheus traffic in UFW
  community.general.ufw:
    rule: allow
    port: '9090'
    proto: tcp
    direction: in
    src: "10.10.0.0/24"
