---
- name: OS Set up
  ansible.builtin.import_tasks: os.yaml

- name: Firewall Rules
  ansible.builtin.import_tasks: firewall.yaml

- name: Block Storage and Mounts
  ansible.builtin.import_tasks: storage.yaml

- name: DNS Records
  ansible.builtin.import_tasks: dns.yaml

- name: Docker Stack
  ansible.builtin.import_tasks: docker.yaml

