networks:
  grafana:
    driver: bridge
    name: grafana

services:
  caddy:
    container_name: caddy
    image: fra.vultrcr.com/metrodelay/caddy:2.11-alpine
    hostname: caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - grafana
    volumes:
      - ./caddy/conf:/etc/caddy
      - /data/caddy/data:/data
      - /data/caddy/config:/config
    deploy:
      resources:
        reservations:
          memory: 64M
        limits:
          memory: 128M
  alertmanager:
    container_name: alertmanager
    image: fra.vultrcr.com/metrodelay/alertmanager:v0.31.0
    networks:
      - grafana
    volumes:
      - /data/alertmanager:/var/alertmanager
      - ./alertmanager/alertmanager.yaml:/etc/alertmanager/alertmanager.yaml
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yaml'
      - '--storage.path=/var/alertmanager'
      - '--web.external-url=https://alertmanager.alertt.app'
    deploy:
      resources:
        reservations:
          memory: 64M
        limits:
          memory: 96M
  grafana:
    container_name: grafana
    image: fra.vultrcr.com/metrodelay/grafana:12.3.2
    hostname: grafana
    ports:
      - "3000:3000"
    networks:
      - grafana
    volumes:
      - type: bind
        source: ./grafana/grafana.ini
        target: /etc/grafana/grafana.ini
      - type: bind
        source: ./grafana/datasources.yaml
        target: /etc/grafana/provisioning/datasources/datasources.yaml
      - type: bind
        source: ./grafana/provider.yaml
        target: /etc/grafana/provisioning/dashboards/provider.yaml
      - type: bind
        source: /data/grafana/dashboards
        target: /var/lib/grafana/dashboards
    depends_on:
      - loki
      - prometheus
    deploy:
      resources:
        reservations:
          memory: 256M
        limits:
          memory: 384M
  loki:
    container_name: loki
    image: fra.vultrcr.com/metrodelay/loki:3.6.5
    hostname: loki
    ports:
      - "3100:3100"
    networks:
      - grafana
    volumes:
      - type: bind
        source: ./loki/loki.yaml
        target: /etc/loki/loki.yaml
      - type: bind
        source: /data/loki
        target: /var/loki
    command: -config.file=/etc/loki/loki.yaml
    deploy:
      resources:
        reservations:
          memory: 128M
        limits:
          memory: 256M
  prometheus:
    container_name: prometheus
    image: fra.vultrcr.com/metrodelay/prometheus:v3.9.1
    hostname: prometheus
    ports:
      - "9090:9090"
    networks:
      - grafana
    volumes:
      - type: bind
        source: ./prometheus/prometheus.yaml
        target: /prometheus/prometheus.yaml
      - type: bind
        source: ./prometheus/alert_rules.yaml
        target: /prometheus/alert_rules.yaml
      - type: bind
        source: /data/prometheus
        target: /var/prometheus
    command: "--config.file=/prometheus/prometheus.yaml --storage.tsdb.retention.time=60d --web.enable-remote-write-receiver --storage.tsdb.path=/var/prometheus"
    deploy:
      resources:
        reservations:
          memory: 64M
        limits:
          memory: 128M
  alloy:
    container_name: alloy
    image: fra.vultrcr.com/metrodelay/alloy:v1.13.0
    hostname: alloy
    networks:
     - grafana
    volumes:
    - type: bind
      source: ./alloy/config.alloy
      target: /etc/alloy/config.alloy
    - type: bind
      source: /data/alloy
      target: /var/lib/alloy/data
    - type: bind
      source: /var/run/docker.sock
      target: /var/run/docker.sock
    command: [
      "run",
      "--server.http.listen-addr=0.0.0.0:12345",
      "--cluster.enabled=false",        # Vypne vnitřní síťový šum
      "--disable-reporting",            # Neposílá telemetrii do Grafany
      "--storage.path=/var/lib/alloy/data",
      "/etc/alloy/config.alloy",
    ]
    deploy:
      resources:
        reservations:
          memory: 192M
        limits:
          memory: 256M
