networks:
  metrodelay:
    driver: bridge

services:
  remote-resources:
    image: fra.vultrcr.com/metrodelay/remote-resources:0.0.2
    container_name: remote-resources
    hostname: remote-resources
    networks:
      - metrodelay
    command: ["-i", "pt2m", "-d", "pt2m"]
    deploy:
      resources:
        reservations:
          cpus: '0.2'
          memory: 64M
        limits:
          cpus: '0.4'
          memory: 128M
  metrodelay-storage:
    image: fra.vultrcr.com/metrodelay/metrodelay-storage:0.0.2
    container_name: metrodelay-storage
    hostname: metrodelay-storage
    ports:
      - "8081:8001"
    networks:
      - metrodelay
    command: ["-h", "metrodelay-storage"]
    deploy:
      resources:
        reservations:
          cpus: '0.2'
          memory: 64M
        limits:
          cpus: '0.4'
          memory: 128M
  metrodelay-rest:
    image: fra.vultrcr.com/metrodelay/metrodelay-rest:0.0.2
    container_name: metrodelay-rest
    hostname: metrodelay-rest
    ports:
      - "8080:8080"
    networks:
      - metrodelay
    deploy:
      resources:
        reservations:
          cpus: '0.2'
          memory: 64M
        limits:
          cpus: '0.4'
          memory: 128M
  alloy:
    container_name: alloy
    image: grafana/alloy:v1.12.2
    hostname: alloy
    network_mode: host
    volumes:
      - type: bind
        source: ./config.alloy
        target: /etc/alloy/config.alloy
      - type: bind
        source: /var/log
        target: /var/log
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    command: [
      "run",
      "--server.http.listen-addr=0.0.0.0:12345",
      "--stability.level=public-preview",
      "--disable-reporting",
      "/etc/alloy/config.alloy",
    ]
    deploy:
      resources:
        reservations:
          cpus: '0.2'
          memory: 128M
        limits:
          cpus: '0.4'
          memory: 256M