///////////////////////////////////////////////////////////////////////////////
// Configuration file

local.file "endpoints" {
    // The endpoints file is used to define the endpoints, credentials and options
    // for the Alloy export to.
    filename = "/etc/alloy/endpoints.json"
}

// The Alloy exports everything, using an empty block.
prometheus.exporter.unix "default" {
  procfs_path = "/host/proc"
  sysfs_path  = "/host/sys"
  rootfs_path = "/host"
}

loki.write "loki" {
  endpoint {
    url = "http://{{ o11y_ip }}:3100/api/prom/push"
  }
}

prometheus.exporter.cadvisor "app" {
  docker_host = "unix:///var/run/docker.sock"
  storage_duration = "5m"
}

prometheus.scrape "scraper" {
  targets    = prometheus.exporter.cadvisor.app.targets
  forward_to = [ prometheus.remote_write.prometheus.receiver ]

  scrape_interval = "10s"
}

prometheus.remote_write "prometheus" {
  endpoint {
    url = "http://{{ o11y_ip }}:9090/api/v1/write"
  }

  external_labels = {
    alloy_instance = "instance-metrodelay", 
  }
}

discovery.docker "app" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "logs_integrations_docker" {
  targets = []

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "container"
  }
}

loki.source.docker "default" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.docker.app.targets
  labels     = {"platform" = "docker"}
  relabel_rules = discovery.relabel.logs_integrations_docker.rules
  forward_to = [loki.write.loki.receiver]
}