logging {
  level  = "info"
  format = "logfmt"
}

discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "logs_integrations_docker" {
  targets = discovery.docker.containers.targets
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "container"
  }
}

prometheus.exporter.cadvisor "docker" {
  docker_host = "unix:///var/run/docker.sock"
  disabled_metrics = ["disk", "tcp", "udp", "percpu", "sched"]
  storage_duration = "5m"
}

prometheus.scrape "docker" {
  targets    = prometheus.exporter.cadvisor.docker.targets
  forward_to = [ prometheus.remote_write.prometheus.receiver ]
  scrape_interval = "60s"
}

prometheus.remote_write "prometheus" {
  endpoint {
    url = "http://{{ o11y_ip }}:9090/api/v1/write"
    queue_config {
      capacity          = 5000
      max_backoff       = "5s"
      max_shards        = 5
    }
    remote_timeout = "30s"
  }
  external_labels = {
    cluster = "metrodelay",
    host    = "metrodelay-blue",
  }
}

loki.source.docker "default" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.logs_integrations_docker.output
  labels     = {"platform" = "docker"}
  forward_to = [loki.write.loki.receiver]
}

loki.write "loki" {
  endpoint {
    url = "http://{{ o11y_ip }}:3100/loki/api/v1/push"
    batch_size = "1MiB"
    batch_wait = "5s"
  }
  external_labels = {
    host = "metrodelay-blue",
  }
}
