- hosts: localhost
  gather_facts: no
  vars:
    instance_plan: "vc2-1c-2gb"
    instance_region: "fra"
  tasks:  
  - name: list instances
    vultr.cloud.instance_info:
      region: "{{ instance_region }}"
      label: "o11y"
      api_key: "{{ vultr.api_key }}"
  - name: create instance o11y-{{ cluster }}
    vultr.cloud.instance:
      region: "{{ instance_region }}"
      api_key: "{{ vultr.api_key }}"
      backups: false
      hostname: o11y-{{ cluster }}
      os: Alpine Linux x64
      label: o11y
      tags:
        - o11y
        - grafana
        - "{{ cluster }}"
      plan: "{{ instance_plan }}"
      ssh_keys:
        - ansible
        - toyosu
      user_scheme: root
  - name: list instances
    vultr.cloud.instance_info:
      region: "{{ instance_region }}"
      label: "o11y"
      api_key: "{{ vultr.api_key }}"
    register: instance_o11y
  - name: Add instance to in-memory inventory
    ansible.builtin.add_host:
      name: "{{ instance_o11y.vultr_instance_info[0].main_ip }}"
      groups: o11y
      ansible_user: root
  - name: Block storage volume is present and attached
    vultr.cloud.block_storage:
      api_key: "{{ vultr.api_key }}"
      label: "o11y-storage"
      size_gb: 40
      block_type: storage_opt
      region: "{{ instance_region }}"
      attached_to_instance: "{{ instance_o11y.vultr_instance_info[0].id }}"
      live: true
      state: present
    delegate_to: localhost
    register: attach_result
    until: attach_result is not failed
    retries: 5
    delay: 10

- hosts: o11y
  gather_facts: no
  vars:
    instance_plan: "vc2-1c-2gb"
    instance_region: "fra"
  tasks:
  - name: Wait for SSH port to open
    ansible.builtin.wait_for:
      host: "{{ inventory_hostname }}"
      delay: 5
      timeout: 100
    delegate_to: localhost
  - name: Wait for server connection
    ansible.builtin.wait_for_connection:
      delay: 5
      timeout: 30
  - name: Gather facts now that we are connected
    ansible.builtin.setup:
  - name: Block until cloud-init is done
    ansible.builtin.shell: |
      while [ ! -f /var/lib/cloud/instance/boot-finished ]; do
        sleep 2;
      done
  - name: SSH Listen Address
    ansible.builtin.copy:
      src: ./01-listen.conf
      dest: /etc/ssh/sshd_config.d/01-listen.conf
      owner: root
      group: root
      mode: u=rw,g=,o=
  - name: Instance is attached to Metrodelay VPC
    vultr.cloud.instance:
      label: o11y
      api_key: "{{ vultr.api_key }}"
      plan: "{{ instance_plan }}"
      region: "{{ instance_region }}"
      vpcs:
        - "{{ hostvars['localhost']['metrodelay_vpc'].vultr_vpc.description }}"
      state: present
    delegate_to: localhost
  - name: Wait for SSH port to open
    ansible.builtin.wait_for:
      host: "{{ inventory_hostname }}"
      delay: 5
      timeout: 100
    delegate_to: localhost
  - name: Wait for server connection
    ansible.builtin.wait_for_connection:
      delay: 5
      timeout: 30
